<script src="{__PLUGINS_PATH__}/jquery.cookie.js"></script>
<script src="{__STATIC_PATH__}/js/compare.js"></script>
<link rel="stylesheet" href="{__PLUGINS_PATH__}/perfect-scrollbar.min.css">
<script src="{__PLUGINS_PATH__}/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="{__PLUGINS_PATH__}/js/qtip/jquery.qtip.min.js"></script>
<link href="{__PLUGINS_PATH__}/js/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{__PLUGINS_PATH__}/jquery.lazyload.min.js"></script>
<script>
    //懒加载
    $("img.lazyload").lazyload({
//        placeholder : "{__STATIC_PATH__}/images/loading.gif",
        effect: "fadeIn",
        skip_invisible : false,
        threshold : 200,
    });
</script>
<div class="footer-info">
    <div class="links w1200">
        {if $Think.config.business_licence}<a href="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$Think.config.business_licence}" target="_blank">营业执照</a>|{/if}
        {foreach $navs.footer as $nav}
        <a href="{$nav.nav_url}" {if $nav.nav_new_open == 1}target="_blank"{/if}>{$nav.nav_title}</a>|
        {/foreach}
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.about_us}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.contact_us}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.marketing_center}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.mobile_mall}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.link}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.sales_alliance}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.mall_community}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">{$Think.lang.mall_public_benefit}</a>|
        <a href="http://www.csdeshang.com/" target="_blank">English Site</a>
    </div>
    <p class="copyright">PC商城版权</p>
</div>
